<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="head">
     <h3>whatsapp</h3>
    </div>
    <form>
        <div id="profile">
            <img src="battle_net___icon_by_blagoicons_dd9yfhw" alt="">
        </div>
        <input type="text" placeholder=" start or search new chat">
    </form>
</body>
</html>